---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I am a Cloud, DevOps, and Linux enthusiast",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Febri4n here!
      I am Linux Enthusiast & DevOps WannaBe
		</p>
	</div>
</PageLayout>
