---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I am a Cloud, DevOps, and Linux enthusiast",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Saya adalah Cloud, DevOps, dan Linux enthusiast dengan dua sertifikasi tingkat Associate 
			(Associate Cloud Engineer dari Google Cloud Platform & Linux Foundation IT Associate) dan akan terus bertambah, aamiin 🤗. 
			Saya memiliki pengalaman sebagai IT Engineer L1 dan sebagai Asisten Pengajar untuk 
			mata kuliah Sistem Operasi. Saya terbiasa dengan konsep otomasi dan platform teknologi seperti Git, Gitlab, Docker, Vagrant, Ansible, CI/CD, ELK, Prometheus, Grafana, Jira, dan banyak lagi. Saya selalu antusias untuk mempelajari teknologi baru dan menjadi bagian dari tim yang produktif dan berorientasi pada tujuan.
		</p>
	</div>
</PageLayout>
