---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I am a Cloud, DevOps, and Linux enthusiast",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Sebagai seorang DevOps dan Linux enthusiast yang memiliki 3 level sertifikasi tingkat Associate (Associate Cloud Engineer dari Google Cloud Platform, Linux Foundation IT Associate & Red Hat Certified System Administrator). Saya telah memperoleh pengalaman dalam mengelola infrastruktur IT dengan penggunaan teknologi terbaru dengan proses otomatisasi . Saya memiliki pengalaman sebagai IT Engineer L1 dan Asisten Praktikum matakuliah Sistem Operasi. Saya terampil dalam mendukung pengguna pada berbagai masalah teknis termasuk Cloud Computing seperti AWS/GCP, serta mengelola infrastruktur pada skala besar dan memastikan keamanannya dengan mengikuti praktik-praktik terbaik industri. Terbiasa dengan konsep otomatisasi dan tech platform seperti Git, Gitlab, Docker, Vagrant, Ansible, CI/CD, ELK, Prometheus, Grafana, Jira dll. Saya selalu bersemangat untuk mempelajari teknologi baru dan menjadi bagian dari tim yang produktif dan berorientasi pada tujuan.
		</p>
	</div>
</PageLayout>
