---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/febri4n",
		name: "mdi:github",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/solihinfebrian/",
		name: "mdi:linkedin",
	},
	{
		friendlyName: "Twitter",
		link: "https://twitter.com/febri4n",
		name: "mdi:twitter",
	},
	{
		friendlyName: "Credly",
		link: "https://www.credly.com/users/solihin-febrian-saputra/badges",
		name: "credly",
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="inline-block p-1 sm:hover:text-link"
						href={link}
						rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						{name === "credly" ? (
							<svg class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
								<circle cx="12" cy="12" r="9.5"/>
								<path d="M14.5 8.2c-.7-.4-1.6-.7-2.5-.7-2.8 0-5 2.2-5 5s2.2 5 5 5c.9 0 1.8-.2 2.5-.7l-1.2-1.5c-.4.3-.8.4-1.3.4-1.7 0-3-1.3-3-3s1.3-3 3-3c.5 0 .9.1 1.3.4l1.2-1.5z"/>
							</svg>
						) : (
							<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
						)}
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
